// 清除浮动
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// 文字超出打点
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {
  font-family: 'iconfont';
  src: url('@/assets/iconfont/iconfont.eot');
  src: url('@/assets/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
       url('@/assets/iconfont/iconfont.woff2') format('woff2'),
       url('@/assets/iconfont/iconfont.woff') format('woff'),
       url('@/assets/iconfont/iconfont.ttf') format('truetype'),
       url('@/assets/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
