
:root{
  --el-color-primary: #0c2972;
  --el-color-danger: #9B0000 ;
  --table-header-bg: #F5F6F7;

  --main-color: #0c2972;
  --main-font-color: #131926;
  --main-color-bg-gray: #E5E8ED;
  --main-color-font-info: #AAB3BC;
  --main-color-font-success: #26c779;

  --container-height: calc(100vh - 100px);
  --container-margin: 16px;
  --container-padding: 16px;
  --container-border-radius: 12px;
}
